@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin:0;
    padding: 0;
    font-family: 'poppins', sans-serif;

}

body{
    background: #f9f9f9;
    min-height: 100vh;
   overflow-x: hidden;
   overflow-y: scroll;
   
}

header{
    position: absolute;
    top:0;
    left: 10px;
    width: 100%;
    
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;

}

.title{
    font-size: 2m;
    color:#FEE2BD;
    pointer-events: none;
    margin-right: 900px;
}


.siteNav a{
    text-decoration: none ;
    color: #FEE2BD;
    padding: 6px 15px;
    border-radius:  20px;
    margin: 0 10px;
    font-weight: 600;
}

.siteNav a:hover,
.siteNav a.active{
    background: #FEE2BD;
    color: #fff;

}

.mid-Text{
     position:relative;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     padding-bottom: 0;
   
}


#titletext{
    position: absolute;
    font-size: 5em;
    color:#161445;
    text-shadow: 2px 2px 4px rgb(0,0,0,.2);
}




.imgmid{
    position:relative;
    top:0;
    left:0;
    width:100%;
    pointer-events: none;
    
}


.bio{

  position: absolute;
  background: #161445 ; 
  text-align: center;
  padding: 100px;
  height: 600px;

  
}

.bio h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.bio p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
  
.links{
    
    text-decoration: none ;
    color: #419DD0;
    padding: 6px 15px;
    border-radius:  20px;
    margin: 0 10px;
    font-weight: 600;
    width:150px;
    
}
.links:hover{
    background-color: #f9f9f9;
    color: #161445;
}

