body{
    background-image: url(../images/95557ef7298e0366622bd4b3675107bd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.siteNav{
    display:flex;
    justify-content: center;
    align-items: center;
   
 }
 
 .siteNav ul {
     margin:0;
     padding:0;
 }
 
 .siteNav li{
     list-style: none;
     float: left;
     margin-right: 30px;
     margin-bottom: 10px;
     margin-top: 10px;
 }
 
 .siteNav a{
     display: block;
     background-color: #e5f4db;
     text-decoration: none;
     color:black;
 
     padding: 10px 20px;
     border-radius: 20px;
     
     
 }
 
 .siteNav a:hover{
     background-color: #b9ebaf;
     transform: scale(1.1);
     box-shadow: 0 0 11px rgba(33,33,33,.2); }

.intro{
    max-width: 900px;
    margin: 30px auto 90px auto;
    padding: 50px;
    background-color: #fff;
    text-align: center;
    opacity: 0.65;
}
.timeline{
    margin: 0 auto;
    max-width: 750px;
    padding:25px;
    display: grid;
    grid-template-columns:  1fr 3px 1fr;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(10, 14, 18); 
}

.time-header{
    padding: 1.5em;
    
    margin: 0 20px 20px 20px;
    background-color: #D2F1D2;
    box-shadow: 0 0 5px #B7EAA8;
    border-radius: 10px;
}

.datetitle{
    margin: 0 20px 20px 20px;
    text-align: left;
}

.datetitle-right{
    text-align: right;
}

.timeline-middle{
    position: relative;
    background: #B7EAA8;
}

.point{
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #B7EAA8;
    border-radius: 50%;
}

.point-bottom{
    position: absolute;
    top: initial;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #B7EAA8;
    border-radius: 50%;
    bottom: 0;
}

.timiline-head{
    margin:0;
    font-size: 1.5em;
    font-weight: bold;

}
.timeline-paragraph{
    line-height: 1.5em;
    text-align: left;
     
}

.skills{
    text-align: left;
}


a{
    
    display: block;
    background: #B7EAA8;
    color:black;
    cursor: pointer;
    padding: 12px 20px;
    text-decoration: none;
    width: 320px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    margin:auto;
    height: auto;
}