body{

    background-image: url(../images/soft-pastel-gradient-color-abstract-background_608068-1431.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.intro{
    max-width: 900px;
    margin: 90px auto 90px auto;
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

.siteNav{
   display:flex;
   justify-content: center;
   align-items: center;
}

.siteNav ul {
    margin:0;
    padding:0;
}

.siteNav li{
    list-style: none;
    float: left;
    margin-right: 30px;
}

.siteNav a{
    display: block;
    background-color: #EFEECF;
    text-decoration: none;
    color:black;

    padding: 10px 20px;
    border-radius: 20px;
    
    
}

.siteNav a:hover{
    background-color: #D1EFCD;
    transform: scale(1.1);
    box-shadow: 0 0 11px rgba(33,33,33,.2); }